body{
    margin:0;
    background:#15173D;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;

}

.container{
    position:relative;
    width:800px;
    height:450px;
    background:white;
    border-radius:20px;
    overflow:hidden;

}

.form-container{
     position: absolute;
    width: 50%;
    height: 100%;
    transition: all 0.6s ease-in-out;
    padding: 40px;
    background: #f2f2f2;

}

